<% div_for(comment) do %>
  <%= image_tag(comment.user.gravatar_url, :height => 100, :width => 100) %>
  <span class="name"><%= comment.user.name %></span>
  <span class="comment"><%= comment.text %></span>
<% end %>
