@CHARSET "UTF-8";

body {
	font-family:Arial,sans-serif;
}

#nav_bar {
	background: #ffffff;
	padding: 0.5em;
	float: right;

	-webkit-border-bottom-left-radius: 10px;
	-khtml-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
}

#title {
	font-size: 2em;
	top: 0em;
	margin: 0;
	padding: 0.5em 0.5em 0 1em;
	font-style: italic;
	font-weight:normal;
	text-decoration: none;
}

body {
	background: #7777ff;
}

#title {
	color: #ffffff;
}

.allroundcorners {
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

h3 {
	font-style: none;
	font-weight:bold;
	margin: 0.5em 1em 0.5em 1em;
	padding: 0;
	font-size: 1.5em;
}

table.adareb tr td {
	padding: 0.5em;
}

table.adareb tr td p {
	text-align: center;
}
