@CHARSET "UTF-8";

#intro {
	margin: 1em;
	padding: 0.5em 1em 0.5em 1em;
}

#dares {
	margin: 1em;
	padding: 0;
}

#dares .top,#dares .bottom {
	height: 1em;
}
#dares .top {
	-webkit-border-top-left-radius: 10px;
	-khtml-border-radius-topleft: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	
	-webkit-border-top-right-radius: 10px;
	-khtml-border-radius-topright: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
}
#dares .bottom {
	-webkit-border-bottom-left-radius: 10px;
	-khtml-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	
	-webkit-border-bottom-right-radius: 10px;
	-khtml-border-radius-bottomright: 10px;	
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	
	margin-top: 2px;
}

table.dares {
	width: 100%;
	margin:0 0 0 0;
	table-layout:fixed;
	border-collapse: collapse;
	/*
	border-spacing:1px;
	border-top:2px solid;
	border-bottom:2px solid;
	word-wrap:break-word;
	*/
}

table.dares .title {width:auto;}
table.dares .media {width:30ex;}
table.dares .prog {width:30ex;}

table.dares .attempts {width:30ex;}
table.dares .dare {width:40ex;}
table.dares .dares {width:7ex;}
table.dares .gravatar {width:100px; padding-left: 1em; }
table.dares .gravatars {width:280px;}
table.dares td {padding-left: 1em; }

table.dares tr {
   width: 100%;
	 height: 5em;
}

table.dares td {
	margin: 0 1em 0 1em;
	border-top: 2px solid #7777ff;
	vertical-align: middle;
}



#options {
	margin: 1em;
	padding: 0;
	width: auto;
}

#options .left {
	float: left;
	width: 49%;
	margin:0;
	margin-right: 1%;
}

#options .right {
	float: left;
	width: 49%;
	margin:0;
	margin-left: 1%;
}

#options p {
	margin: 1em;
}




#intro {
	background: #ffffff;
	color: #000000;
}

#dares .top,#dares .bottom {
	background: #ffffff;
	height: 1em;
}
table.dares {
	color: #000000;
}

table.dares tr {
	background: #ffffff;
	border-top: #7777ff;
}

#options .item {
	background: #ccccff;
	color: #000000;
}
