<ul>
  <li><%= link_to 'Your Challenges', resource_challenges_path %></li>
  <li><%= link_to 'Your Attempts', resource_attempts_path %></li>
  <li><%= link_to 'Your Pledges', resource_pledges_path %></li>
</ul>
